/* These links were imported from google fonts to stylize my website*/
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200;500&family=Francois+One&display=swap');
/* I used one of my imported fonts on the header and used the "vw" sizing for responsive text so the font will change with the window size.
 I used the "float: right" feature so the header would be on the opposite side of the navbar  */
.title {
    font-family: 'Chivo Mono', monospace; 
    font-size: 3vw;
    float:right;
    margin-right: 10%;
}
/*I put the navbar into a fixed box that remains in place when scrolling
for easy access to the links. I used text-align to place the text in the centre 
of the navbar and altered the line height to create more space*/
.navbar {
    font-size: 3vw;
    font-family: 'Chivo Mono', monospace;
    color: black;
    padding-top: 200px;
    text-align: center;
    line-height: 300%;
    margin: 0%;
    height: 100%;
    width: 20vw;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    display: block;
    background-color: rgb(242, 238, 229)
    }
 /* I used "text-decoration: none" to remove the automatic underline on the links in my navbar*/
a:link {
  text-decoration: none;
  color: black
}

a:visited {
  text-decoration: none;
  color: black
}

a:hover {
  color: rgb(213, 213, 213)
}

.hp {
  text-align: center;
  float: left;
  padding-left: 10%;
  width: 100vw
}

.stills {
  font-family: 'Chivo Mono', monospace; 
  font-size: 300%;
  text-align: center;
  padding-top: 20px;
}

.descrip {
  font-family: 'Chivo Mono', monospace;
  font-size: medium;
  color: rgb(186, 186, 186);
  text-align: center;
}

img {
  width: 35%;
  padding: 3%;
}
/* These dimensions centralize the two portrait images on each row*/
.portrait {
  float: left;
  text-align: center;
}
 /* These dimensions centralize the landscape images*/
.ls {
  width: 76%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.main {
  padding-top: 70px;
  background-color: rgb(242, 238, 229)
}
